
					<div class="d-flex justify-content-between align-items-center" id="comment">
						<div class="d-flex flex-row align-items-center">
							<div class="d-flex flex-column ml-1 comment-profile">
								<div class="comment-ratings"></div> <span class="username"> <b>Lori Benneth  </b></span> </div>
                <div class="text "><%= comment.content %></div>
						</div>
						<div class="date"> <span class="text-muted">2 May</span> </div>
					</div>
					<hr>
